body{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #e5e5e5;
}
.frame-1{
    background-color: white;
}
.header{
    display: flex;
}
.header-left1{
    display: flex;
    margin-top: 30px;
    margin-left: 35px;
}
.aa1{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 43px;
    font-size: 24px;
    line-height: 30px;
    font-family: Euclid Circular -WEBKIT-BODY;
}
.aa2{
    text-decoration: none;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    width: 95px;
    height: 28px;
    text-align: center;
    padding-top: 9px;
    margin-top: -3px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-left: 53px;
}
.header-left2{
    position: absolute;
    margin-left: 206px;
    margin-top: 67px;
}
.text{
    font-size: 58px;
    font-weight: bold;
    width: 315px;
    line-height: 52px;
    color: #130F49;
}
.left2-img{
    display: flex;
    margin-top: -44px;
}
.left2-img p{
    font-size: 17px;
    color: #130F49;
}
.left2-img img{
    width: 28px;
    height: 23px;
    margin-top: 14px;
    margin-left: 7px;
}
.header-left2 button{
    width: 103px;
    height: 44px;
    border-radius: 12px;
    color: white;
    background-color:#130F49 ;
    margin-top: 11px;
    cursor: pointer;
}
.header-right img{
    width: 656px;
    height: 751px;
    margin-left: 43px;
}
.form1{
    margin-left: 47px;
    margin-top: -49px;
    display: flex;
}
.form1-left{
    border-radius:225px;
    border: 1px solid white;
    width: 430px;
    height: 430px;
    background-color: #fecfd0;
    margin-left: 30px;
}
.img1{
    margin-top: 130px;
    margin-left: 94px;
    height: 299px;
    width: 245px;
}
.form1-right{
    width: 300px;
    margin-left: 96px;
    margin-top: -21px;
}
.content1{
    font-size: 47px;
    font-family: system-ui;
    color: #130F49;
    font-weight: 500;
    letter-spacing: -0.02em;
    list-style: 48px;
}
.content2{
    font-size: 19px;
    margin-top: -21px;
    font-family: system-ui;
    color: #848484;
}
.right-img{
    border: 1px solid white;
    background-color: #cce8fd;
    text-align: center;
    width: 156px;
    border-radius: 24px;
    margin-top: 36px
}
.right-img img{
    width: 123px;
    height: 70px;
}
.form2{
    margin-top: 128px;
    display: flex;
}
.form2-left p{
    position: absolute;
    font-size: 62px;
    width: 200px;
    margin-left: 201px;
    margin-top: 66px;
    font-family: system-ui;
    font-weight: 500;
    color: #130f49;
    letter-spacing: 0.03em;
    line-height: 56px;
}
.form2-left img{
    width: 642px;
    height: 863px;
}
.img-text{
    display: flex;
}
.form2-right{
    margin-top: 72px;
}
.text1{
    font-size: 29px;
    width: 286px;
    color: #848484;
    font-family: system-ui;
}
.img-text img{
    width: 62px;
    height: 65px;
}
.img-text p{
    font-size: 22px;
    font-family: system-ui;
    font-weight: 500;
    margin-left: 10px;
}
.text2{
    font-size: 18px;
    width: 224px;
    margin-left: 72px;
    margin-top: -16px;
    color: #848484;
}
.form3{
    display: flex;
    margin-top: 20px;
}
.form3-left{
    width: 300px;
    margin-left: 204px;
    margin-top: -21px;
}
.content1{
    font-size: 47px;
    font-family: system-ui;
    color: #130F49;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.content2{
    font-size: 19px;
    margin-top: -21px;
    font-family: system-ui;
    color: #848484;
}
.left-img{
    border: 1px solid white;
    background-color: #cce8fd;
    text-align: center;
    width: 156px;
    border-radius: 24px;
    margin-top: 36px
}
.left-img img{
    width: 123px;
    height: 70px;
}
.form3-right img{
    width: 350px;
    height: 350px;
    margin-top: 31px;
    margin-left: 41px;
}
.form4{
    margin-top: 53px;
}
.form4 img{
    width: 574px;
    height: 44px;
    margin: 19px 213px;
}
.footer{
    display: flex;
    border: 1px solid white;
    background-color: #d9f4ff;
    border-radius: 30px;
    height: 367px;
    width: 877px;
    justify-content: space-around;
    margin-left: 60px;
    margin-top: 50px;
}
.footer1 p{
    font-size: 43px;
    font-family: system-ui;
    font-weight: 500;
    width: 200px;
    margin-top: 77px;
}
.footer-img{
    border: 1px solid white;
    background-color: #130F49;
    text-align: center;
    width: 156px;
    border-radius: 24px;
    margin-top: 36px
}
.footer-img img{
    width: 123px;
    height: 70px;
}
.footer2 img{
    width: 359px;
    height: 347px;
    padding-top: 20px;
}