body{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #E5E5E5;
}
.home{
    background-color: white;
}
.top{
    display: flex;
    margin-left: 15px;
}
.logo1 img{
    width: 189px;
    height: 78px;
    margin-top: 42px;
    margin-left: 35px;
    cursor: pointer;
}
.logo2 input{
    width: 454px;
    height: 46px;
    margin-top: 58px;
    background: #E9E2D5;
    border-radius: 30px;
    border: none;
    margin-left: 38px;
    outline: none;
}
.search{
    padding-left: 70px;
    font-size: 24px;
}
.logo2 img{
    width: 37px;
    height: 43px;
    position: relative;
    transform: translateX(-1391%)translateY(35%); 
}
.login-icon{
    width: 51px;
    height: 46px;
    margin-left: 10px;
    margin-top: 58px;
    cursor: pointer;
}
.cart-icon{
    width: 51px;
    height: 46px;
    margin-left: 5px;
    margin-top: 58px;
    cursor: pointer;
}
.below{
    margin-top: 65px;
    text-align: center;
}
.below a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    padding: 0 20px;
    color: #874B23;
}
.insert{
    border: 1px solid #874B23;
    height: 5px;
}
.container{
    padding: 50px;
}
.banner img{
    height: 275px;
    width: 883px;
}
.intro{
    display: flex;
    justify-content: space-around;
    background: #E9E2D5;
    width: 884px;
    margin-top: 50px;
}
.intro-text{
    margin-top: 34px;
    margin-left: 38px;
}
.intro-text h3{
    text-align: center;
    font-size: 26px;
    color: rgba(167, 108, 60, 1);
}
.intro-text p{
    width: 409px;
    font-size: 19px;
    color: rgba(167, 108, 60, 1);
}
.intro-img img{
    width: 377px;
    height: 244px;
    margin: 30px 0px 30px 52px
}
.content{
    display: flex;
    height: 257px;
    justify-content: space-between;
}
.content-img img{
    width: 215px;
    height: 162px;
    margin-top: 50px;
    margin-left: 15px; 
}
.content-text h3{
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -5px;
    color: rgba(167, 108, 60, 1);
}
.content-text p{
    font-size: 18px;
    color: rgba(167, 108, 60, 1);
    line-height: 28px;
    margin-left: 13px;
}
.content-text button{
    border-radius: 40px;
    line-height: 32px;
    margin-left: 22px;
    background: rgba(167, 108, 60, 1);
    width: 120px;
    height: 47px;
    border: none;
    cursor: pointer;
    color: white;
}
.maxim{
    background: #E9E2D5;
    height: 106px;
    margin-top: 30px;
}
.maxim-text{
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    color: rgba(167, 108, 60, 1)
}
span{
    color: #848484;
}
.product-text{
    font-size: 30px;
    color: #C06210;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.product-list{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.list-1, .list-2, .list-3, .list-4{
    background-color: rgba(196, 196, 196, 0.01);
    border: 1px solid #aaa;
    height: 289px;
    width: 206px;
    text-align: center;
    cursor: pointer;
}
.list-1 img{
    width: 190px;
    height: 189px;
    padding-top: 10px;
}
.list-1, .list-2, .list-3, .list-4 p{
    font-size: 20px;
    color: rgba(135, 75, 57, 1);
}
.list-insert{
    color: #FF3300;
}
.list-2 img{
    width: 190px;
    height: 189px;
    padding-top: 10px;
}
.list-3 img{
    width: 190px;
    height: 189px;
    padding-top: 10px;
}
.list-4 img{
    width: 190px;
    height: 189px;
    padding-top: 10px;
}
.news{
    display: flex;
    justify-content: space-around;
}
.news-1{
    border: 1px solid #aaa;
    width: 279px;
    text-align: center;
}
.news-1 img{
    width: 267px;
    height: 190px;
    padding-top: 6px;
}
.text-1{
    font-size: 17px;
    color: #C06210;
}
.text-2{
    font-size: 12px;
}
.button button{
    background: rgba(167, 108, 60, 1);
    border: none;
    border-radius: 40px;
    width: 120px;
    height: 47px;
    cursor: pointer;
    color: white;
    margin: 20px 388px;
}
.icon{
    display: flex;
    margin-top: 30px;
}
.icon-1{
    display: flex;
    margin-top: 20px;
}
.icon-1 img{
    width: 65px;
    height: 63px;
    margin-top: 19px;
}
.icon-1 p{
    font-size: 13px;
    line-height: 28px;
    margin-left: 16px;
}
.icon-1 span{
    font-size: 16px;
    color: #C06210;
}
.footer{
    height: 332px;
    background-color: rgba(233, 226, 213, 1);
    display: flex;
}
.footer1{
    margin-left: 36px;
    margin-right: 36px;
    width: 250px;
}
.footer1 h3{
    font-size: 16px;
    color: #C06210;
}
.footer1 p{
    color: #5E5E5E;
    font-family: Noto serif;
    font-size: 10px;
    line-height: 24px;
    line-height: 24px;
    text-align: justify;
}
.phone{
    display: flex;
}
.phone p{
    color: #5E5E5E;
    font-family: Noto serif;
    font-size: 10px;
    margin-top: -5px;
    margin-left: 4px;
}



