body{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #E5E5E5;
}
.login{
    background-color: white;
}
.top{
    display: flex;
    margin-left: 15px;
}
.logo1 img{
    width: 189px;
    height: 78px;
    margin-top: 42px;
    margin-left: 35px;
    cursor: pointer;
}
.logo2 input{
    width: 454px;
    height: 46px;
    margin-top: 58px;
    background: #E9E2D5;
    border-radius: 30px;
    border: none;
    margin-left: 38px;
    outline: none;
}
.search{
    padding-left: 70px;
    font-size: 24px;
}
.logo2 img{
    width: 37px;
    height: 43px;
    position: relative;
    transform: translateX(-1391%)translateY(35%); 
}
.login-icon{
    width: 51px;
    height: 46px;
    margin-left: 10px;
    margin-top: 58px;
    cursor: pointer;
}
.cart-icon{
    width: 51px;
    height: 46px;
    margin-left: 5px;
    margin-top: 58px;
    cursor: pointer;
}
.below{
    margin-top: 65px;
    text-align: center;
}
.below a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    padding: 0 20px;
    color: #874B23;
}
.insert{
    border: 1px solid #874B23;
    height: 5px;
}
.container{
    padding: 50px;
}
.container-login{
    border: 1px solid black;
    width: 882px;
    height: 612px;
    border-radius: 37px;
}
.container-login h1{
    text-align: center;
    color: #874B23;
}
.form-login{
    padding-top: 40px;
    margin: 30px;
    color: #874B23;
}
.label-input{
    font-size: 20px;
    padding-top: 40px;
}
.label-input input{
    width: 100%;
    height: 56px;
    border: none;
    background-color: #E9E2D5;
    font-size: 21px;
    font-family: Noto serif;
    padding-left: 14px;
    margin-top: 12px;
}
.checkbox{
    padding-top: 40px;
    margin-left: 26px;
}
.checkbox label{
    font-size: 15px;
}
.button{
    text-align: center;
}
.button button{
    width: 128px;
    height: 46px;
    border: none;
    background-color: #E9E2D5;
    border-radius: 20px;
    font-size: 16px;
    color: #874B23;
    margin: 20px;
}
.button a{
    text-decoration: none;
}
.button-left{
    color: #BD1818;
}
.button-right{
    color: red;
}
.footer{
    height: 332px;
    background-color: rgba(233, 226, 213, 1);
    display: flex;
}
.footer1{
    margin-left: 36px;
    margin-right: 36px;
    width: 250px;
}
.footer1 h3{
    font-size: 16px;
    color: #C06210;
}
.footer1 p{
    color: #5E5E5E;
    font-family: Noto serif;
    font-size: 10px;
    line-height: 24px;
    line-height: 24px;
    text-align: justify;
}
.phone{
    display: flex;
}
.phone p{
    color: #5E5E5E;
    font-family: Noto serif;
    font-size: 10px;
    margin-top: -5px;
    margin-left: 4px;
}