body{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #E5E5E5;
}
.sanpham{
    background-color: white;
}
/* phần header */
.top{
    display: flex;
    margin-left: 15px;
}
.logo1 img{
    width: 189px;
    height: 78px;
    margin-top: 42px;
    margin-left: 35px;
    cursor: pointer;
}
.logo2 input{
    width: 454px;
    height: 46px;
    margin-top: 58px;
    background: #E9E2D5;
    border-radius: 30px;
    border: none;
    margin-left: 38px;
    outline: none;
}
.search{
    padding-left: 70px;
    font-size: 24px;
}
.logo2 img{
    width: 37px;
    height: 43px;
    position: relative;
    transform: translateX(-1391%)translateY(35%); 
}
.login-icon{
    width: 51px;
    height: 46px;
    margin-left: 10px;
    margin-top: 58px;
    cursor: pointer;
}
.cart-icon{
    width: 51px;
    height: 46px;
    margin-left: 5px;
    margin-top: 58px;
    cursor: pointer;
}
.below{
    margin-top: 65px;
    text-align: center;
}
.below a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    padding: 0 20px;
    color: #874B23;
}
.insert{
    border: 1px solid #874B23;
    height: 5px;
}
/* phần body */
.container{
    padding: 50px;
}
.bottom{
    width: 800px;
    margin: auto;
    border-bottom: 1px solid rgba(135, 75, 35, 0.9);
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}
.nav-left{
    margin-left: 28px;
}
.nav-left a{
    text-decoration: none;
    color: #848484;
    font-size: 16.8px;
}
.nav-left span{
    font-weight: bold;
    font-size: 16.8px;
}
.nav-right{
    display: flex;
    margin-right: 28px;
}
.nav-right p{
    padding-right: 25px;
}
.nav-right select{
    font-weight: bold;
    font-size: 15px;
    width: 154px;
    height: 42px;
    border: 1px solid #FF4000;
    padding-left: 32px;
    outline: none;
}
.list{
    margin-top: 34px;
}
.list1{
    display: flex;
    justify-content: space-around;
}
.list1-i{
    border: 1px solid #848484;
    height: 275px;
    width: 206px;
}
.list1-i img{
    width: 199px;
    height: 189px;
    padding: 4px;
}
.list1-i p{
    text-align: center;
    font-size: 18px;
    color: #71360f;
    font-weight: 550;
}
.list1-i span{
    color: #ff0000;
}
.list2{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.list2-i{
    border: 1px solid #848484;
    height: 275px;
    width: 206px;
}
.list2-i img{
    width: 199px;
    height: 189px;
    padding: 4px;
}
.list2-i p{
    text-align: center;
    font-size: 18px;
    color: #71360f;
    font-weight: 550;
}
.list2-i span{
    color: #ff0000;
}.list3{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.list3-i{
    border: 1px solid #848484;
    height: 275px;
    width: 206px;
}
.list3-i img{
    width: 199px;
    height: 189px;
    padding: 4px;
}
.list3-i p{
    text-align: center;
    font-size: 18px;
    color: #71360f;
    font-weight: 550;
}
.list3-i span{
    color: #ff0000;
}
.list-end{
    text-align: center;
    margin-top: 30px;
}
.list-end a{
    border: 1px solid #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 2px 5px 2px 7px;
    text-decoration: none;
    color:#0275D8;
    margin: 0px 1px 0px 1px;
}
/* footer */
.footer{
    height: 332px;
    background-color: rgba(233, 226, 213, 1);
    display: flex;
}
.footer1{
    margin-left: 36px;
    margin-right: 36px;
    width: 250px;
}
.footer1 h3{
    font-size: 16px;
    color: #C06210;
}
.footer1 p{
    color: #5E5E5E;
    font-family: Noto serif;
    font-size: 10px;
    line-height: 24px;
    line-height: 24px;
    text-align: justify;
}
.phone{
    display: flex;
}
.phone p{
    color: #5E5E5E;
    font-family: Noto serif;
    font-size: 10px;
    margin-top: -5px;
    margin-left: 4px;
}