body{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #E5E5E5;
}
.app{
    background-color: white;
}
.top{
    display: flex;
    margin-left: 15px;
}
.logo1 img{
    width: 189px;
    height: 78px;
    margin-top: 42px;
    margin-left: 35px;
    cursor: pointer;
}
.logo2 input{
    width: 454px;
    height: 46px;
    margin-top: 58px;
    background: #E9E2D5;
    border-radius: 30px;
    border: none;
    margin-left: 38px;
    outline: none;
}
.search{
    padding-left: 70px;
    font-size: 24px;
}
.logo2 img{
    width: 37px;
    height: 43px;
    position: relative;
    transform: translateX(-1391%)translateY(35%); 
    /*  t hỏi hiệp mà k phải m chết với t  */
}
.login-icon{
    width: 51px;
    height: 46px;
    margin-left: 10px;
    margin-top: 58px;
    cursor: pointer;
}
.cart-icon{
    width: 51px;
    height: 46px;
    margin-left: 5px;
    margin-top: 58px;
    cursor: pointer;
}
.below{
    margin-top: 65px;
    text-align: center;
}
.below a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    padding: 0 20px;
    color: #874B23;
}
.insert{
    border: 1px solid #874B23;
    height: 5px;
}
.container{
    padding: 50px;
}
.bottom{
    width: 800px;
    margin:auto;
    border-bottom: 1px solid rgba(135, 75, 35, 0.9);
}
.cart-body h1{
    font-family: Noto Serif;
    color: rgba(135, 75, 35, 0.9);
    font-size: 31px;
    margin-top: 38px;
    margin-left: 10px;
}
.body{
    display: flex;
    justify-content: space-between;
}
.body-left{
    margin-left: -11px;
    margin-top: 11px;
}
.list{
    display: flex;
    justify-content: space-between;
    color: #5E5E5E;
    font-size: 15px;
    font-family: Noto Serif;
    line-height: 20px;
    padding-left: 20px;
}
.list div{
    width: 150px ; padding-left: 10px
}
.bottom-left{
    width: 569px;
    margin-top: 10px;
    margin-left: 27px;;
    border-bottom: 1px solid rgba(135, 75, 35, 0.9);
}
.item{
    width: 94%;
    height: 95px;
    display: flex;
    justify-content: space-between;
    padding: 9px;
}
.item-i{
    display: flex;
    width: 147px;
}
.price{
    color: #FF4200;
    font-size: 13px;
    font-family: Noto Serif;
    line-height: 24px;
    margin: 23px 1px 30px 15px;
    font-weight: bold;
}
.amount{
    border: 1px solid #716767;
    margin: 35px 39px 35px 15px;
    width: 65px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    font-family: Noto Serif;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
    border-radius: 2px;
}
.total{
    margin: 38px 61px 39px 0px;
    color: #FF4200;
    font-size: 13px;
    font-family: Noto Serif;
    line-height: 20px;
    font-weight: bold;
}
.footer-a{
    display: flex;
    margin-top: 43px;
    justify-content: space-evenly;
}

.footer-a button{
    width: 223px;
    height: 34px;
    border: none;
    background-color: #875E3F;
    color: white;
    font-size: 13px;
    font-family: Noto Serif;
    line-height: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.right-header{
    margin-left: 30px;
    height: 32px;
    margin-top: 7px;
    color: #5E5E5E;
}
.bottom-right{
    width: 280px;
    margin: auto;
    border-bottom: 1px solid rgba(135, 75, 35, 0.9);
}
.right-body{
    padding: 37px 0px 18px 0px;
    color: #5E5E5E;
    font-size: 15px;
    font-family: Noto Serif;
    line-height: 20px;
}
.right-body span{
    float: right;
    color: #FF4200;
    font-weight: bolder;
}
.bottom-right1{
    width: 280px;
    margin: auto;
    border-bottom: 1px solid rgba(147, 137, 137, 0.6);
}
.cart-bottom{
    text-align: center;
}
.cart-button button{
    margin-top: 32px;
    width: 290px;
    height: 34px;
    background-color: #DD3333;
    color: white;
    font-size: 15px;
    font-family: Noto Serif;
    line-height: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.discount{
    margin-top: 23px;
    color: #5E5E5E;
    padding: 0px 0px 6px 0px;
}
.code{
    margin-top: 17px;
    text-align: center;
}
.code input{
    width: 268px;
    height: 25px;
    border: 1px solid #DD3333;
    border-radius: 1px;
    outline: none;
    padding: 5px 0px 5px 22px;
    font-size: 12px;
    font-family: Noto Serif;
    line-height: 20px;
}
.button{
    text-align: center;
}
.button button{
    margin-top: 32px;
    width: 290px;
    height: 34px;
    background-color: #DD3333;
    color: white;
    font-size: 15px;
    font-family: Noto Serif;
    line-height: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.footer{
    height: 332px;
    background-color: rgba(233, 226, 213, 1);
    display: flex;
}
.footer1{
    margin-left: 36px;
    margin-right: 36px;
    width: 250px;
}
.footer1 h3{
    font-size: 16px;
    color: #C06210;
}
.footer1 p{
    color: #5E5E5E;
    font-family: Noto Serif;
    font-size: 10px;
    line-height: 24px;
    text-align: justify;
}
.phone{
    display: flex;
}
.phone p{
    color: #5E5E5E;
    font-family: Noto Serif;
    font-size: 10px;
    margin-top: -5px;
    margin-left: 4px;
}
   